body{
   width: 100vw;
   height: 100vh;
   /* background: linear-gradient(to right, lightblue, skyblue); */
   background-color: rgb(242, 199, 68);
   font-family: 'Roboto';
}

header{
   display: flex;
   align-items: baseline;
   justify-content: space-between;
}

h1{
   font-size: xx-large;
}

nav a{
   margin-left: 40px;
}
