body{
   width: 100vw;
   height: 100vh;
   /* background: linear-gradient(to right, lightblue, skyblue); */
   background-color: rgb(242, 199, 68);
   font-family: 'Roboto';
}

#content {
   padding: 20px;
}

header{
   display: flex;
   align-items: baseline;
   justify-content: space-between;
}

h1{
   font-size: xxx-large;
}

h2{
   font-size: xx-large;
}

h3{
   font-size: x-large;
}

h4{
   font-size: large;
}

nav a{
   margin-left: 40px;
}

footer {
   display: flex;
   align-items: center;
   justify-content: center;
}
